cbr/build
cmdtts/build
emacspeak/build
mssapi/build
rhvoice/build
voiceman/build
yatran/build

cbr/jar
cmdtts/jar
emacspeak/jar
mssapi/jar
rhvoice/jar
voiceman/jar
yatran/jar


cbr/lib
cmdtts/lib
emacspeak/lib
mssapi/lib
rhvoice/lib
voiceman/lib
yatran/lib
